@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Roboto", serif;
}

body{
  margin:0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  
 
}

img{
  height:200px;
}

.first-container{
  background-color:#1f2937;
  padding-top:20px;
  padding-left: 200px;
}

h1{
  font-size: 48px;
  font-weight: 900;
  color:#f9faf8;
  margin-top: 50px;
  margin-bottom: 0px;
  max-width: 300px;
  display: flex;
  align-self: flex-start;
}

.hero-subtext, a{
  font-size:18px;
  color:#e5e7eb
}

.leftnav{
  font-size: 24px;
  color:#f9faf8;
  font-weight:800
}

.rightnav{
  display:flex;
  padding-right: 200px;
  gap:20px;
}

a{
  text-decoration: none;
  
}

.first-container-left, .first-container-right{
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
}
.content{
  display:flex;
  flex-direction: row;
  
}


.first-container-paragraph{
  color: #e5e7eb;
  font-size: 18px;
  margin:0px;
  max-width: 400px;
}

.first-container-left{
  padding-right:100px;
}

.signupButton{
  margin-bottom:20px;
  background-color:#3882f6;
  padding:10px;
  color:#f9faf8;
  display: flex;
  align-self: self-start;

}

.second-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .second-container-top{
  font-size:36px;
  color:#1f2937;
  font-weight:900;
} 
.hero-subtext{
  display: flex;
  flex-direction: row;
  gap:20px;
  color:#1f2937
} 

.characterText{
  display: flex;
  justify-content: center;
}

.characterImg{
  max-width: 400px;
}

.quoteContainer{
  display:flex;
  justify-content: center;
  font-size:36px;
  font-style: italic; 
  color:#1f2937
}

.quoteAuthor{
  display:flex;
  justify-content: center;
  padding-left:400px;
  font-style: italic;
}

.third-container{
  background-color: #e5e7eb;
  padding: 40px;
  margin-top: 40px;

}

.lastContainer{
  display:flex;
  justify-content: center;
  margin:40px;
}

#bottomButton{
  

}

.callToAction{
  background-color: #3882f6;
  padding:20px;
}

footer{
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: #f9f9f9;
  padding:25px;
}